*.Dart linguist-detectable=true  
*.Objective-c linguist-detectable=true  
*.Shell linguist-detectable=true  
*.Java linguist-detectable=true  
*.Makefile linguist-detectable=false  
*.makefile linguist-detectable=false  
